html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: "Press Start 2P";
}

.wrapper {
    padding-top: 100px;
    padding-bottom: 100px
}

.social-links {
    list-style-type: none;
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin: 10px;
}

.profile-picture {
    border-radius: 60%;
}

p {
    word-break: break-word;
    font-size: small;
    text-align: center;
}
